* {
  /* margin: 0;
  padding: 0;
  box-sizing: border-box; */
}

body {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  height: 100vh;
  color: #333;
  background-color: #0093E9;
  background-image: linear-gradient(315deg, #0093E9 0%, #80D0C7 100%);

}

.flex{
  display: flex;
  justify-content: center;
}

img{
  margin-top: 40px;
}

.btn {
  color: #444;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 15px;
  border-radius: 10px;
  margin-left: 20px;
  font-size: 20px;
}

.btn:hover{
  color: #00E164;
}

#addItems{
  width: 350px;
  font-size: 30px;
  border-radius: 10px;
  padding: 5px;
}

.list{
margin-top: 50px;
background-color: #3385ff;
opacity: 0.8;
border-radius: 9px;
color: #001633;
width: 65%;
text-align: center;
transition: all 0.75s;
}

.between{
  display: flex;
  justify-content: space-between;
}

#margin{
  border-bottom: 2px solid #00E164;
  padding: 10px;
  font-size: 25px;
}

#margin:hover{
  background-color: #00E164;
}


#left{
  font-size: 25px;
  position: relative;
}
